<!DOCTYPE html>
<html>

<%- include('includes/head', {title: 'Detalhe do Produto' }) %>

  <body>

    <%- include('includes/header') %>

      <div class="container products-wrapper">
        <div class="row">
          <div class="col-2">
          </div>
        </div>
        <div class="grup">
          <div class="row">
            <div class="col-2 col-lg-8">
              <img src="/images/Produtos/<%= product.image %>" alt="product image" class="product-detail-img">
            </div>
            <div class="col-12 col-lg-4">
              <article class="product-detail-info">
                <h2 class="product-title">
                  <%= product.name %>
                </h2>
                <h3>
                  <%= product.typeBeer.name %>
                </h3>
                  <p class="product-price">
                    <span>R$<%= toThousand(product.price) %></span>
                  </p>
                <p class="Information">Informações sobre o produto:</p>
                <p class="product-description">
                  <%= product.description %>
                </p>
                <ul class="actions-list">
                  <div class="col-md-5" id="quantidade">
                    <form action="/product/detail/:id" method="POST" style="display: inline-flex">
                      <button type="button" id="minus" name="botao" value="menos">-</button>
                    <input [(ngModel)]="quant" id="quant" name="quant" class="text" size="1" value="1" type="text"
                      maxlength="2" />
                    <button type="button" id="plus" name="botao" value="mais">+</button>
                    </form>
                  </div>
                  <button type="button" class="btn bb" (click)="addCarrinho()" routerLink="/"><p>Comprar</p></button>
                  <form action="/product/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
                    <button type="submit" class="action-button delete">Excluir Produto</button>
                  </form>
                  <a href="/product/update/<%= product.id %>" class="action-button edit">Editar Produto</a>
                </ul>
              </article>

            </div>
          </div>
        </div>
      </div>

      <%- include('includes/footer') %>

  </body>

</html>
